name: Package Modpack

on:
  push:
    tags:
      - '*'  # Spustí sa pri vytvorení tagu

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Create Client and Server ZIPs
        run: |
          # --- PRÍPRAVA KLIENTA ---
          mkdir modpack_client
          cp -r bin config mods resources scripts servers.dat modpack_client/
          cd modpack_client
          zip -r ../modpack_client.zip ./*
          cd ..

          # --- PRÍPRAVA SERVERA ---
          mkdir modpack_server
          cp -r bin config mods resources scripts servers.dat modpack_server/
          
          # Odstránenie grafických módov (vynechá súbory obsahujúce dané názvy)
          # Používame -f (force), aby script nespadol, ak by náhodou nejaký mód chýbal
          rm -f modpack_server/mods/*embeddium*
          rm -f modpack_server/mods/*embedium*
          rm -f modpack_server/mods/*rubidium*
          rm -f modpack_server/mods/*oculus*
          
          cd modpack_server
          zip -r ../modpack_server.zip ./*
          cd ..

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: |
            modpack_client.zip
            modpack_server.zip
